/* Inspirado por https://codepen.io/ig_design/pen/MWKVrNR*/
nav .navbar-brand
{
    font-size: xx-large;
    font-family: "chalkduster";
}

nav .navbar-brand .green
{
    color: #CCC;
    display: inline-block;
}
nav ul
{
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}
.section {
    padding-bottom: 1rem;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 0.5rem;
}

.mainbackground {
    background: #1f2029;
    height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

.section-dropdown:after {
  position: absolute;
  top: -7px;
  left: 30px;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; 
  border-bottom: 8px solid #111;
  content: '';
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}

.main {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
    color: #fff;
    background-color: #FFF;
    overflow-x: hidden;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 4%;
    width: 100%;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 100vh;
}
.sec-center {
  position: relative;
  max-width: 100%;
  text-align: center;
  z-index: 200;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}
.dark-light:checked + label,
.dark-light:not(:checked) + label{
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 20000;
  display: block;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  cursor: pointer;
  transition: all 200ms linear;
  box-shadow: 0 0 25px rgba(255,235,167,.45);
}
.dark-light:checked + label{
  transform: rotate(360deg);
}
.dark-light:checked + label:after,
.dark-light:not(:checked) + label:after{
  position: absolute;
  content: '';
  top: 1px;
  left: 1px;
  overflow: hidden;
  z-index: 2;
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #102770;
  background-image: url('https://assets.codepen.io/1462889/moon.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
  opacity: 0;
}
.dark-light:checked + label:after {
  opacity: 1;
}
.dark-light:checked + label:before,
.dark-light:not(:checked) + label:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  display: block;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  background-color: #48dbfb;
  background-image: url('https://assets.codepen.io/1462889/sun.svg');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
}
.dark-light:checked + label:before{
  background-color: #000;
}

.dropdown:checked + label,
.dropdown:not(:checked) + label{
  position: relative;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-weight: 1000;
  font-size: 20px;
  line-height: 2;
  height: 50px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 800px;
  letter-spacing: 1px;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  cursor: pointer;
  color: #102770;
  box-shadow: 0 5px 65px 0 rgba(255,235,167,.15);
}
.dark-light:checked ~ .sec-center .for-dropdown{
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
}
.dropdown:checked + label:before,
.dropdown:not(:checked) + label:before{
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: auto;
  pointer-events: none;
}
.dropdown:checked + label:before{
  pointer-events: auto;
}
.dropdown:not(:checked) + label .uil {
  font-size: 30px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.dropdown:checked + label .uil {
  transform: rotate(180deg);
  font-size: 30px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.section-dropdown {
  position: absolute;
  padding: 5px;
  background-color: #111;
  top: 70px;
  left: 0;
  width: 100%;
  border-radius: 4px;
  display: block;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown {
  background-color: #fff;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.15);
}
.dropdown:checked ~ .section-dropdown{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

a {
  position: relative;
  color: black;
  transition: all 200ms linear;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-weight: 500;
  font-size: 30px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  margin: 2px 0;
  text-align: left;
  text-decoration: none;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  -ms-flex-pack: distribute;
}
.dark-light:checked ~ .sec-center .section-dropdown a {
  color: #102770;
}
a:hover {
  color: #102770;
  background-color: #ffeba7;
  border-radius: 10px;
}

.section-dropdown-sub {
  position: relative;
  display: block;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  max-height: 0;
  padding-left: 10px;
  padding-right: 3px;
  overflow: hidden;
  transition: all 200ms linear;
}
.dropdown-sub:checked ~ .section-dropdown-sub{
  pointer-events: auto;
  opacity: 1;
  max-height: 999px;
}
.section-dropdown-sub a {
  font-size: 30px;
}
.section-dropdown-sub a .uil {
  font-size: 30px;
}
.logocarbono {
    position: fixed;
    top: 100px;
    left: 20px;
    display: block;
    z-index: 11000000;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    transition: all 250ms linear;
    height: 125px;
    width: 130px;
}
.logo {
  position: absolute;
  top: 300px;
  left: 80px;
  z-index: 11000000;
  background-color: transparent;
  padding: 0;
  height: 150px;
}
.image1 {
  position: absolute;
  top: 1000px;
  left: 150px;
  display: block;
  z-index: 11000000;
  background-color: transparent;
  border-radius: 2px;
  padding: 0;
  transition: all 250ms linear;
  height: 200px;
  border: solid 6px #CCC;
  border-image-outset: 0px;
  box-shadow: 0 0 30px rgba(0,0,0,.45);
}

.image2 {
  position: absolute;
  top: 1000px;
  left: 150px;
  width: 125px;
  display: block;
  z-index: 11000000;
  background-color: transparent;
  border-radius: 2px;
  padding: 0;
  transition: all 250ms linear;
  height: 200px;
  border: solid 6px #CCC;
  border-image-outset: 0px;
  box-shadow: 0 0 30px rgba(0,0,0,.45);
}

.image3 {
  position: absolute;
  top: 1000px;
  left: 900px;
  display: block;
  z-index: 11000000;
  background-color: transparent;
  border-radius: 2px;
  padding: 0;
  transition: all 250ms linear;
  height: 200px;
  border: solid 6px #CCC;
  border-image-outset: 0px;
  box-shadow: 0 0 30px rgba(0,0,0,.45);
}

.image4 {
  position: absolute;
  top: 500px;
  left: 800px;
  display: block;
  z-index: 11000000;
  background-color: transparent;
  border-radius: 2px;
  padding: 0;
  transition: all 250ms linear;
  height:200px;
  border: solid 6px #CCC;
  border-image-outset: 0px;
  box-shadow: 0 0 30px rgba(0,0,0,.45);
  width: 295px;
}

.image5 {
  position: absolute;
  top: 500px;
  left: 975px;
  display: block;
  z-index: 11000000;
  background-color: transparent;
  border-radius: 2px;
  padding: 0;
  transition: all 250ms linear;
  height:265px;
  border: solid 6px #CCC;
  border-image-outset: 0px;
  box-shadow: 0 0 30px rgba(0,0,0,.45);
  width: 350px;
}

.image6 {
  position: absolute;
  top: 500px;
  left: 200px;
  display: block;
  z-index: 11000000;
  background-color: transparent;
  border-radius: 2px;
  padding: 0;
  transition: all 250ms linear;
  height: 265px;
  border: solid 6px #CCC;
  border-image-outset: 0px;
  box-shadow: 0 0 30px rgba(0,0,0,.45);
  width: 350px;
}

.image7 {  
    position: absolute;
    top: 330px;
    left: 150px;
    width: 300px;
    display: block;
    z-index: 11000000;
    background-color: transparent;
    border-radius: 2px;
    padding: 0;
    transition: all 250ms linear;
    height: 200px;
    border: solid 6px #CCC;
    border-image-outset: 0px;
    box-shadow: 0 0 30px rgba(0,0,0,.45);
}

.video {
  width: 700px;
  border-radius: 8px;
  border: solid 20px #fff;
  border-image-outset: 0px;
  box-shadow: 0 0 40px rgba(0,0,0,.45);
}
.snow {
  height: 100%;
  background: none repeat scroll 0 0 #34283F;
  color: #FFF;
  padding: 20px;
  font-family: Helvetica;
  display: block;
}

#snow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1000;
}

.footer {
  color: white;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

.Capture {
  position: relative;
  height: 80vh;
  color: black;
  margin-right: 210px !important;
  margin-left: 210px !important;
}

p {
  font-size: large;
}

#font2 {
  margin-right: 210px !important;
  margin-left: 210px !important;
}

#font {
  font-size: medium;
  margin-right: 210px !important;
  margin-left: 210px !important;
}

#white {
  color: white;
}

.mainbackground2 {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
    color: #fff;
    background-color: #1E792C;
    overflow-x: hidden;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 4%;
    width: 100%;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.mainbackground3 {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
    color: #fff;
    background-color: #FFF;
    overflow-x: hidden;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 4%;
    width: 100%;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 200vh;
}

.Capture2 {
  position: relative;
  font-size: 8em !important;
  top: 15px;
  color: #C30F16;
  margin-right: 220px !important;
  margin-left: 220px !important;
}
